if TARGET_SECO_IMX8QM_C26

config SYS_BOARD
	default "seco_imx8qm_c26"

config SYS_VENDOR
	default "seco"

config SYS_CONFIG_NAME
	default "seco_imx8qm_c26"

source "board/seco/common/Kconfig"

endif
